<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
  <div id="demo"></div>
  <script src="/bower/requirejs/require.js" data-main="dist/main.js"></script>
</body>
</html>